.light .green {
  color: #00a94f !important;
}
.light .red {
  color: #ed004f !important;
}
.light .black {
  color: #333333 !important;
}
#mainContainer {
  background-color: #f3f5f8;
  position: absolute;
  top: 40px;
  bottom: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  min-width: 1024px;
  padding: 10px 0;
  z-index: -1;
}
#footer {
  position: absolute;
  margin: auto;
  zoom: 1;
  bottom: 0px;
  width: 100%;
  min-width: 1024px;
  z-index: 2;
  height: 40px;
}
