<h4>ChartIQ Sample</h4>
<div id="chartContainer">

<!-- This is the container for the chart itself. This div will be passed in to the STXChart object. You may place this anywhere on your page. -->

<!-- IE8 is supported through the excanvas.js library. For IE8, canvas elements must be included in the html
code itself. The library will clone these canvases internally. If you don't plan on supporting IE8 you
can safely remove these elements. -->

<!--[if IE 8]><canvas id="ie8canvas" width="0" height="0" style="display:none"></canvas><![endif]-->
<!--[if IE 8]><canvas id="ie8canvasTemp" width="0" height="0" style="display:none"></canvas><![endif]-->

</div>